*{
    background: #fff;
    box-sizing: border-box;
}

.brave{
    height: 100%;
    width: 100%;
    background-color: transparent;
    display: grid;
    place-items: center;
    place-content: center;
    justify-items: center;
    align-items: center;
}

h1{
    font-size: 4rem;
    color: crimson;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}